<div class="col-xs-12 profile">
    <div class="col-sm-2 profile-img-container">
        {{> profile-parts/profile-img}}
    </div>
    <div class="col-sm-8">
        {{> profile-parts/info}}
    </div>
    <div class="col-sm-2 text-right">
        <div class="score">
            {{> profile-parts/upvote}}
            
            {{> profile-parts/upvote-score}}
        </div>
    </div>
</div>
