<span class="big-star">
    <form class=""  action="/endorsement" method="post">

        <button class="star-btn" type="submit" name="button">
            {{#ifEndorsed username @root.currentU}}
                {{this}}
            {{/ifEndorsed}}
        </button>

        <input type="hidden" name="username" value="{{this.username}}">
    </form>
</span>
