<div class="header header-filter sign-up-header" style="">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1 class="title text-center register-page-title">{{title}}</h1>
            </div>
        </div>
    </div>
</div>
