<div class="row dropdown-menu">
    <form class="" action="" method="post">
        <div class="col-sm-6">
            <h3 class="filter-heading">Front End</h3>
            <ul class="filter-list">
                <li>
                    <div id="check-awesome" class="form-group">
                        <input type="checkbox" id="check-html" value="html">
                        <label for="check-html">
                            <span></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            HTML
                        </label>
                    </div>
                </li>
                <li>
                    <div id="check-awesome" class="form-group">
                        <input type="checkbox" id="check-css" value="css">
                        <label for="check-css">
                            <span></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            CSS
                        </label>
                    </div>
                </li>
                <li>
                    <div id="check-awesome" class="form-group">
                        <input type="checkbox" id="check-jquery" value="jquery">
                        <label for="check-jquery">
                            <span></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            jQuery
                        </label>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-sm-6">
            <h3 class="filter-heading">Back End</h3>
            <ul class="filter-list">
                <li>
                    <div id="check-awesome" class="form-group">
                        <input type="checkbox" id="check-mysql" value="mysql">
                        <label for="check-mysql">
                            <span></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            MySQL
                        </label>
                    </div>
                </li>
                <li>
                    <div id="check-awesome" class="form-group">
                        <input type="checkbox" id="check-express" value="express">
                        <label for="check-express">
                            <span></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            Express.js
                        </label>
                    </div>
                </li>
                <li>
                    <div id="check-awesome" class="form-group">
                        <input type="checkbox" id="check-node" value="node">
                        <label for="check-node">
                            <span></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            Node.js
                        </label>
                    </div>
                </li>
            </ul>
        </div>
        <button class="btn btn-info btn-filter btn-round" type="submit" name="button">Update Filter</button>
    </form>
</div>
