<div class="row dropdown-menu">
    <form class="" action="" method="get">
        <div class="col-sm-4" id="frontend_skills"></div>

        <div class="col-sm-4" id="backend_skills"></div>

        <div class="col-sm-4" id="design_skills"></div>

        <button class="btn btn-info btn-filter btn-round" type="submit" name="button">Update Filter</button>
    </form>
</div>
