<div class="row dropdown-menu">
    <form class="" action="" method="get">
        <div class="col-sm-6">
            <h3 class="filter-heading">Front End</h3>
            <ul class="filter-list">
                <li>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="check-html">
                            HTML
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="check-css">
                            CSS
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="check-jquery">
                            jQuery
                        </label>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-sm-6">
            <h3 class="filter-heading">Back End</h3>
            <ul class="filter-list">
                <li>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="check-node">
                            Node.js
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="check-express">
                            Express.js
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="check-mysql">
                            MySQL
                        </label>
                    </div>
                </li>
            </ul>
        </div>
        <button class="btn btn-info btn-filter btn-round" type="submit" name="button">Update Filter</button>
    </form>
</div>
