<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ClickedIn - {{title}}</title>

    <!--     Fonts and icons     -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    <link rel="stylesheet" href="../public/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/assets/css/material-kit.css">
    {{!-- <link rel="stylesheet" href="../public/assets/css/checkbox.css"> --}}
    <link rel="stylesheet" href="../public/assets/css/leeland.css">
</head>

<body>

    <script src="../public/assets/js/jquery.min.js"></script>
    <script src="../public/assets/js/bootstrap.min.js"></script>
    <script src="../public/assets/js/material-kit.js"></script>
    <script src="../public/assets/js/material.min.js"></script>
    <script src="../public/assets/js/nouislider.min.js"></script>

    {{> nav}}

    {{> jumbotron}}

    {{{body}}}

    <script>
        $(window).scroll(function() {
            if ($(document).scrollTop() > 50) {
                $('nav').addClass('shrink');
            } else {
                $('nav').removeClass('shrink');
            }
        });

        $('[data-toggle="acc-tooltip"]').tooltip();
    </script>

</body>
</html>
