<style media="screen">
    .long {
        height: 2000px;
    }
</style>

<div class="long">
    <div class="container">
        <div class="row">
            {{> profile-parts/profile}}

            {{> profile-parts/profile}}

            {{> profile-parts/profile}}

            {{> profile-parts/profile}}

            {{> profile-parts/profile}}

            {{> profile-parts/profile}}
        </div>
    </div>
</div>
