<style media="screen">
    .long {
        height: 2000px;
    }
</style>

<div class="long">
    <div class="container">
        <div class="row">
            {{#each profiles}}
                {{> profile-parts/profile}}
            {{/each}}
        </div>
    </div>
</div>
