<div class="main main-raised">
    <div class="section">
        <div class="container">
            <form class="form-horizontal" role="form" action="/register" method="post">
                <h2>Registration Form</h2>
                <div class="form-group">
                    <label for="username-form-input">Username</label>
                    <input type="text" class="form-control" id="username-form-input" name="username" placeholder="username" required>
                </div>
                <div class="form-group">
                    <label for="password-form-input">Password</label>
                    <input type="text" class="form-control" id="password-form-input" name="password" placeholder="password" required>
                </div>
                <div class="form-group">
                    <label for="name-form-input">Name</label>
                    <input type="text" class="form-control" id="name-form-input" name="name" placeholder="John Doe" required>
                </div>
                <div class="form-group">
                    <label for="img-form-input">Image URL</label>
                    <input type="text" class="form-control" id="img-form-input" name="img_url" placeholder="Image URL" required>
                </div>
                <div class="form-group">
                    <label for="title-form-input">Title/Headline</label>
                    <input type="text" class="form-control" id="title-form-input" name="title" placeholder="Backend Web Developer" required>
                </div>
                <div class="form-group">
                    <label for="">About You</label>
                    <textarea class="form-control" name="about" rows="5" required></textarea>
                </div>
                <div class="form-group">
                    <label for="lin-url-form-input">LinkedIn Profile URL</label>
                    <input type="text" class="form-control" id="lin-url-form-input" name="linkedin_url" placeholder="LinkedIn Profile URL">
                </div>
                <div class="form-group">
                    <label for="github-url-form-input">Github Profile URL</label>
                    <input type="text" class="form-control" id="github-url-form-input" name="github_url" placeholder="Github Profile URL">
                </div>
                <div class="form-group">
                    <label for="pers-url-form-input">Personal Portfolio URL</label>
                    <input type="text" class="form-control" id="pers-url-form-input" name="personal_url" placeholder="Personal Portfolio URL">
                </div>

                <div class="col-md-4">
                    <h3>Frontend Skills</h3>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="front_html">
                            HTML
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="front_css">
                            CSS
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="front_javascript">
                            Javascript
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="front_ajax">
                            AJAX
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="front_jquery">
                            jQuery
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="front_bootstrap">
                            Bootstrap
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="front_react">
                            React.js
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="front_angular">
                            Angular.js
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3>Backend Skills</h3>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="back_mysql">
                            MySQL
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="back_node">
                            Node.js
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="back_php">
                            PHP
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="back_express">
                            Express.js
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="back_mongodb">
                            MongoDB
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="back_java">
                            Java
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="back_python">
                            Python
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="back_c_sharp">
                            C#
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3>Design Skills</h3>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="design_photoshop">
                            Photoshop
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="design_gimp">
                            Gimp
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="design_illustrator">
                            Illustrator
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="design_inkscape">
                            Inkscape
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="design_coreldraw">
                            CorelDraw
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="design_adobe_indesign">
                            Adobe InDesign
                        </label>
                    </div>
                </div>
                <div class="col-md-12">
                    <h3>Projects</h3>
                    <div class="col-md-4">
                        <div class="add-proj">
                            <div class="form-group">
                                <label for="proj1-name-form-input">Project Name</label>
                                <input type="text" class="form-control" id="proj1-name-form-input" name="proj-name" placeholder="Project Name">
                            </div>
                            <div class="form-group">
                                <label for="proj1-img-form-input">Project Image Thumbnail</label>
                                <input type="text" class="form-control" id="proj1-img-form-input" name="proj-img_url" placeholder="Image URL">
                            </div>
                            <div class="form-group">
                                <label for="">Project Description</label>
                                <textarea class="form-control" name="proj-description" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="add-proj">
                            <div class="form-group">
                                <label for="proj2-name-form-input">Project Name</label>
                                <input type="text" class="form-control" id="proj2-name-form-input" name="proj-name" placeholder="Project Name">
                            </div>
                            <div class="form-group">
                                <label for="proj2-img-form-input">Project Image Thumbnail</label>
                                <input type="text" class="form-control" id="proj2-img-form-input" name="proj-img_url" placeholder="Image URL">
                            </div>
                            <div class="form-group">
                                <label for="">Project Description</label>
                                <textarea class="form-control" name="proj-description" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="add-proj">
                            <div class="form-group">
                                <label for="proj3-name-form-input">Project Name</label>
                                <input type="text" class="form-control" id="proj3-name-form-input" name="proj-name" placeholder="Project Name">
                            </div>
                            <div class="form-group">
                                <label for="proj3-img-form-input">Project Image Thumbnail</label>
                                <input type="text" class="form-control" id="proj3-img-form-input" name="proj-img_url" placeholder="Image URL">
                            </div>
                            <div class="form-group">
                                <label for="">Project Description</label>
                                <textarea class="form-control" name="proj-description" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row`">
                    <div class="col-md-12">
                        <button type="submit" name="button" class="btn btn-info">Create Profile</button>
                    </div>
                </div>
            </form>
            <!-- /form -->
        </div>
        <!-- ./container -->
    </div>
</div>
