<div class="header header-filter sign-up-header" style="">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1 class="title text-center register-page-title">Register Your Profile</h1>
            </div>
        </div>
    </div>
</div>

<div class="main main-raised">
    <div class="section">
        <div class="container">
            <form class="form-horizontal" role="form">
                <h2>Registration Form</h2>

                <div class="form-group">
                    <input type="text" value="" placeholder="Regular" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" id="email" placeholder="Email" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" id="password" placeholder="Password" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthDate" class="col-sm-3 control-label">Date of Birth</label>
                    <div class="col-sm-9">
                        <input type="date" id="birthDate" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="title" class="col-sm-3 control-label">Title</label>
                    <div class="col-sm-9">
                        <select id="country" class="form-control">
                                    <option>Backend Developer</option>
                                    <option>Frontend Developer</option>
                                    <option>Full Stack Developer</option>
                                    <option>Graphic Designer</option>
                                </select>
                    </div>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <label class="control-label col-sm-3">Skills</label>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                            <input type="radio" id="htmlRadio" value="HTML">HTML
                                        </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                            <input type="radio" id="cssRadio" value="CSS">CSS
                                        </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                            <input type="radio" id="bootstrapRadio" value="Bootstrap">Bootstrap
                                        </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                            <input type="radio" id="javascriptRadio" value="JavaScript">JavaScript
                                        </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                            <input type="radio" id="jqueryRadio" value="jQuery">jQuery
                                        </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                            <input type="radio" id="mysqlRadio" value="MySQL">MySQL
                                        </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                            <input type="radio" id="javascriptRadio" value="JavaScript">JavaScript
                                        </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                            <input type="radio" id="jqueryRadio" value="jQuery">jQuery
                                        </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                            <input type="radio" id="mysqlRadio" value="MySQL">MySQL
                                        </label>
                            </div>
                            <input type="checkbox">I accept <a href="#">terms</a>
                            </label>
                        </div>
                    </div>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </div>
                </div>
            </form>
            <!-- /form -->
        </div>
        <!-- ./container -->
    </div>
</div>
