

body {
    background-color: #fff;
    /*padding-top: 90px;*/
}

.list {
    list-style-type: none;
    padding-left: 5px;
}

.is-flexed-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/*=======================
NAVBAR CSS
========================*/


nav.navbar {
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

.navbar-inverse {
    background-color: transparent;
    border-radius: 0px;
    padding: 25px 10px;
    margin-bottom: 0px;
}

nav.navbar.shrink {
    background-color: #222;
    padding: 10px;
}

.navbar-inverse .navbar-brand {
    color: white;
}
.navbar-inverse .navbar-brand:focus {
    color: white;
}
.navbar-inverse .navbar-brand:hover {
    color: #18bc9c;
}
/* Links */
ul.nav.navbar-nav.navbar-right li a:hover {
    color: #18bc9c;
}
ul.nav.navbar-nav.navbar-right li a:focus {
    color: white;
}

.navbar-toggle {
    border: none;
    background: transparent !important;
}
.navbar-toggle:hover {
    border: none;
    background: transparent !important;
}

.navbar-inverse .navbar-nav>.open>a {
    background-color: transparent;
}
.navbar-inverse .navbar-nav>.open>a:hover{
    background-color: transparent;
}
.navbar-inverse .navbar-nav>.open>a:focus {
    background-color: transparent;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: transparent;
}
ul.nav.navbar-nav.navbar-right li a:hover {
    color: #18bc9c;
}
.icon-bar {
    transition: all 0.2s;
}
.top-bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 10% 10%;
    -ms-transform-origin: 10% 10%;
    -moz-transform-origin: 10% 10%;
    transform-origin: 10% 10%;
}
.mid-bar {
    opacity: 0;
}
.bottom-bar {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
    -moz-transform-origin: 10% 90%;
    -ms-transform-origin: 10% 90%;
    transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .top-bar {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}
.navbar-toggle.collapsed .mid-bar {
    opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.navbar-inverse .navbar-collapse {
    border-color: transparent;
}


/* PROFILE CSS - Main Page */

.profile {
    background-color: #eee;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.3);
}

a .profile {
    color: black;
}

.profile-img-container img {
    display: block;
    margin: 0 auto;
}

.name-heading {
    margin: 0px;
}

.title-heading {
    margin: 0px 0px 10px 0px;
}

.score {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.big-star {
    font-size: 30px;
    text-align: right;
}

.star-btn {
    border-style: none;
    background-color: transparent;
}

.dropdown-menu {
    min-width: 600px;
}

.filter-heading {
    color: black;
}

.filter-list {
    padding-left: 10px;
}

.btn-filter {
    background-color: #3f51b5 !important;
    margin: 0px 0px 20px 20px;
}

.btn-filter:hover {
    background-color: #3f51b5;
    box-shadow: 0 14px 26px -12px rgba(21, 103, 140, 0.27), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(3, 169, 244, 0.2);
}


/* SIGNUP PAGE - CSS */

.register-page-title {
    color: white;
}

div.header {
    height: 450px;
    padding-top: 150px;
}

.sign-up-header {
    background-image: url('../img/stars-pexel.jpg');
    background-position: center;
}

.add-proj {
    padding: 0px 20px;
}

label {
    padding-left: 0px;
}

@media screen and (max-width: 480px) {
    .score {
        justify-content: flex-start;
    }
}

/* VIEW PROFILE PAGE - CSS*/

.profile-view {
    margin-top: -50px !important;
    padding-top: 0px !important;
}

.view-profile-img {
    display: block;
    margin: -125px auto 0px auto;
    width: 250px;
    height: 250px;
    border: solid 5px darkgrey;
}

.profile-view-name {
    margin-bottom: 0px;
}

.profile-view-title {
    margin-top: 0px;
}

.project-img {
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}
